
body {
	font-family:sans-serif;
	font-size:110%;
	padding:2em 3em 4em;
	background-color:#333;
}

.wrapper {
	background-color:white;
	padding:0;
	padding-bottom:0.5em;
	width:530px;

	-webkit-border-radius: 5px;
	-moz-border-radius:    5px;
	border-radius:         5px;

	-webkit-box-shadow: rgba(0,0,0,0.9) 2px 2px 8px;
	-moz-box-shadow:    rgba(0,0,0,0.9) 2px 2px 8px;
	box-shadow:         rgba(0,0,0,0.9) 2px 2px 8px;

	-webkit-transform: rotate(-0.5deg);
	-moz-transform:    rotate(-0.5deg);
	transform:         rotate(-0.5deg);

}

.message {
	padding-top:1.5em;
	padding-right:3em;
	text-align:right;
}

.title {
	font-size:140%;
	margin-bottom:4em;
	color:#aaa;
	font-weight:bold;
}

.links {
	font-size:80%;
  line-height:200%;
  color:#ccc;
}

#showlink {
	color:#fff;
	font-size:200%;
	font-weight:bold;
	z-index:-20;
	text-shadow: #ccc 2px 2px 4px;
}

small {
	font-size:80%;
}

a {
	text-decoration:none;
}

a:hover {
}

